<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

    <p>
    Splurty was built by Joshua Hanlon.
  </p>
  <br />

  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>


    <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'me' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Joshua Hanlon</h2>
      <br />
      <p>
        Hi! My name is Joshua Hanlon. I have experience in PC and mobile phone repair. About 5 years ago I wrote a couple of programs that were for cell phone technicians, one was called <a href="https://appleflasher.com"> apple flasher / droid flasher</a> and the other was called <a href="https://youtu.be/iKhGsFstGN8">iPhone Toolbox</a>. Those projects are no longer live since CDMA technologies are being phased out. I haven't done any coding since then and look forward to using the knowledge gained in coding bootcamp to build some new projects, as well as be able to work at a large enterprise if I wanted to.
      </p>
    </div>
  </div>
  <br class="clear" />


</div>

<br class="clear" />
<br />
<br />
<br />
<br />